@import url('typography.css');
@import url('colors.css');
@import url('components/components.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box‚;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-dark);
    font-family: "Montserrat";
    color: var(--primary-text);


    display: grid;
    grid-template-columns: 4rem calc(100% - 4rem);
    grid-template-rows: calc(100% - 2rem) 2rem;
    grid-template-areas: 
        'sidebar    viewBox'
        'sidebar    footer'
}

